.projects{
    display: flex;
    flex-direction: column;
    position: relative;
}
.projects__content-one,
.projects__content-two,
.projects__content-three,
.projects__content-four{
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-bottom: 1rem;
}
.projects__content-two h3,
.projects__content-three h3,
.projects__content-four h3,
.projects__content-one h3{
    position: relative;
    top: 1rem;
    transform: rotate(90deg);
    margin-right: 1rem;
}
.project__heading{
    width: 55%;
    margin-right: 2rem;
}
.projects__content-two h1,
.projects__content-three h1,
.projects__content-four h1,
.projects__content-one h1{
margin: 0 1rem 1rem 1rem;
}
.projects__content-two h1{
 display: flex;
 align-items: flex-start;
}
.project__heading p{
    margin-left: 1rem;
}

.project__image1{
height: 200px;
width: 200px;
background-repeat: no-repeat;
background-position: center;
object-fit: cover;
background-size: cover;
overflow: hidden;
background-image: url('../../assests/project1.jpg');
border: none;
border-radius: 1rem;
}
.project__image2{
height: 200px;
width: 200px;
background-repeat: no-repeat;
background-position: center;
object-fit: cover;
background-size: cover;
overflow: hidden;
background-image: url('../../assests/ecommerce.jpg');
border: none;
border-radius: 1rem;
}
.project__image3{
height: 200px;
width: 200px;
background-repeat: no-repeat;
background-position: center;
object-fit: cover;
background-size: cover;
overflow: hidden;
background-image: url('../../assests/project3.jpg');
border: none;
border-radius: 1rem;
}
.project__image4{
height: 200px;
width: 200px;
background-repeat: no-repeat;
background-position: center;
object-fit: cover;
background-size: cover;
overflow: hidden;
background-image: url('../../assests/project4.jpg');
border: none;
border-radius: 1rem;
}

@media screen and (max-width:1050px) {
    .projects__content-one,
.projects__content-two,
.projects__content-three,
.projects__content-four{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    padding-left: 4rem;
    border-bottom: 1px solid black;
}
    .project__heading{
        width: 45%;
        margin: 1rem 0;
    }
    .projects__content-two h3,
.projects__content-three h3,
.projects__content-four h3,
.projects__content-one h3{
    position: relative;
    top: 0rem;
    transform: rotate(0);
    margin-left: 1rem;
    font-size: 2rem;
}
    .projects__content-two h1,
.projects__content-three h1,
.projects__content-four h1,
.projects__content-one h1{
   font-size: 3rem;
}
    .projects__content-two p,
.projects__content-three p,
.projects__content-four p,
.projects__content-one p{
   font-size: 2rem;
}
.project__image1,
.project__image2,
.project__image3,
.project__image4{
margin-right: 1rem;
margin-bottom: 1rem;
height: 300px;
width: 300px;
}
}
@media screen and (max-width:600px) {
    .projects__content-one,
.projects__content-two,
.projects__content-three,
.projects__content-four{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    padding-left: 4rem;
    border-bottom: 1px solid black;
}
.projects__content-two p,
.projects__content-three p,
.projects__content-four p,
.projects__content-one p{
   font-size: 1rem;
}
.projects__content-two h1,
.projects__content-three h1,
.projects__content-four h1,
.projects__content-one h1{
   font-size: 2rem;
}
    .project__heading{
        width: 45%;
        margin: 1rem 0;
    }
    .projects__content-two h3,
.projects__content-three h3,
.projects__content-four h3,
.projects__content-one h3{
    position: relative;
    top: 0rem;
    transform: rotate(0);
    margin-left: 1rem;
}
.project__image1,
.project__image2,
.project__image3,
.project__image4{
margin-right: 1rem;
height: 200px;
width: 200px;
margin-bottom: 1rem;
}
}