.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer p{
    letter-spacing: 1.02px;
    margin: 0.5rem 0;
}
.footer p:first-child{
    font-size: 1.5rem;
}