.contact{
    display: flex;
    flex-direction: row;
}
.contact__form{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding-left: 7rem;
}
form input{
    background: transparent;
    border: 1px solid black;
    border-radius: 4px;
    width: 26rem;
    margin: 1rem 0;
}
form textarea{
    font-size: 1.5rem;
    background: transparent;
    border: 1px solid black;
    border-radius: 4px;
    margin: 1rem 0;
}
.contact__img{
    width: 600px ;
    height: 510px;
    margin-right: 2rem;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url('../../assests/me.jpg');
    border: none;
    border-radius: 67px 5px 200px 0px;
    -moz-border-radius: 67px 5px 200px 0px;
    -webkit-border-radius: 67px 5px 200px 0px;
   box-shadow: rgba(0 0 0 / 69%) 0px 26px 30px -10px, rgba(0 0 0 / 73%) 0px 16px 10px -10px;
}
.contact__form button
{
    max-width: fit-content;
    padding: 1rem;
    border: 1px solid black;
    background: transparent;
    border-radius: 4px;
}

@media screen and (max-width:1050px) {
    .contact{
        display: flex;
        flex-direction: column;
    }
    form{
        margin: 4rem  0 0 0;
        padding-right: 4rem;
    }
    form input{
        line-height: 2.5rem;
    }
    form h5{
        font-size: 2rem;
    }
    .contact__form button{
     font-size: 2rem;
    }
}
@media screen and (max-width:600px) {
.contact__img{
    height: 300px;
    width: 300px;
}
.contact__form{
    padding: 1rem 0;
}
form{
  padding: 2rem;
  min-width: fit-content;
}
form h5{
    font-size: 1.5rem;
}
form input{
    width: 17rem;
}
.contact__form button{
    font-size: 1.5rem;
   }
form textarea{
    width: 17rem;
}
.contact__form button{
    margin-left: 2rem;
}
}